.compare-area-container {
padding-bottom: 100px; /* lisää hieman tilaa footerille */

}

.sticky-footer {
    text-align: center !important;
    position:sticky;
    left: 0;
    padding: 5px;
    bottom: 30px !important;       /* nosta ylemmäs, ettei jää toisen footerin alle */
    width: 100%;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 9999999999;
}

.btn-start {
  font-size: 1.3rem;
  padding: 15px 40px;
  border-radius: 8px;
  max-width: 100%;
}

.btn-start:hover {
  color: #fffafa;
  background-color: rgb(117, 218, 107) !important;
  transform: scale(1.05); /* vähän isommaksi */
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* pieni varjo hoverissa */
}