
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --------- ***************************************************************************************/
/* BODY  */
/* --------- ****************************************************************************************/

:root {
  --dark-blue: #4a1e01;
  --medium-blue: #d01f00;
  --white: #f4f4f4; 
  --black: #1a1a1a; 
}


html, body {
  
  height: 100%;
  font-size: 2.0vh;
  font-family: "Poppins", sans-serif;
  color: var(--black) !important;  
  background-color: var(--dark-blue);
  overflow-x: hidden !important;
}

.App{
  
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}

.App2{
margin-top: 125px;
}

main {
  flex: 1; 
background-color: #f3f3f3;
}
